.button {
  background-color: var(--color-black);
  color: var(--color-primary);
  border-radius: 12px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  padding: 10px 16px;
  margin: 14px;
  /* my extra from figma */
  width: 170px;
  height: 47px;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
}
